<div class="contenedor">
<form [formGroup]="formdpersona">
  <div class="border-b border-gray-900/10 pb-12">
    <h2 class="text-base font-semibold leading-7 text-gray-900 text-center">Registro de usuario</h2>
   <!-- <p class="mt-1 text-sm leading-6 text-gray-600">Use a permanent address where you can receive mail.</p> -->

    <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Primer nombre</label>
        <div class="mt-2">
          <input type="text" formControlName="pnombre" required name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
           focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>


      <div class="sm:col-span-3">
        <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Segundo nombre</label>
        <div class="mt-2">
          <input type="text" formControlName="snombre" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div class="sm:col-span-3">
        <label for="primer-apellido" class="block text-sm font-medium leading-6 text-gray-900">Primer apellido</label>
        <div class="mt-2">
          <input type="text"formControlName="papellido" name="primer-apellidoe" id="primer-apellido" autocomplete="family-apellido" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

        <div class="sm:col-span-3">
        <label for="segundo-apellido" class="block text-sm font-medium leading-6 text-gray-900">Segundo apellido</label>
        <div class="mt-2">
          <input type="text" formControlName="sapellido" name="segundo-apellido" id="segundo-apellido" autocomplete="family-apellido" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

       <div class="sm:col-span-3">
        <label for="numero-documento" class="block text-sm font-medium leading-6 text-gray-900">Numero documento</label>
        <div class="mt-2">
          <input type="text" formControlName="ndocumento" name="numero-documento" id="numero-documento" autocomplete="numero-documento" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

        <div class="sm:col-span-3">
        <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Tipo documento</label>
        <div class="mt-2">
          <select id="country"  formControlName="tdocumento" name="country" autocomplete="country-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
            <option>Documento identificacion</option>
            <option>Nit</option>
            <option>Numero pasaporte</option>
          </select>
        </div>
      </div>
      <div class="sm:col-span-3">
        <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Telefono</label>
        <div class="mt-2">
          <input type="text "  formControlName="ntelefono" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div class="sm:col-span-3">
        <label for="primer-apellido" class="block text-sm font-medium leading-6 text-gray-900">Fecha nacimiento</label>
        <div class="mt-2">
          <input type="date"  formControlName="fnacimiento" name="primer-apellidoe" id="primer-apellido" autocomplete="family-apellido" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>



      <div class="sm:col-span-2 sm:col-start-1">
        <label for="city" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
        <div class="mt-2">
          <input formControlName="usuemail" type="email" name="city" id="city" autocomplete="address-level2" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div class="sm:col-span-2">
        <label for="region" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
        <div class="mt-2">
          <input formControlName="password" type="password" name="region" id="region" autocomplete="address-level1" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div class="sm:col-span-2">
        <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900">Confirmar Contraseña</label>
        <div class="mt-2">
          <input formControlName="vpassword" type="password" name="postal-code" id="postal-code" autocomplete="postal-code" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
    </div>
  </div>

<div class="mt-6 flex items-center justify-end gap-x-6">
  <button type="button"  class="text-sm font-semibold leading-6 text-gray-900">Cancelar</button>
  <button type="button"  (click)="save()"  class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Guardar</button>
</div>
</form>
</div>
